<h1>Hello there!</h1>
<h2>What is your name?</h2>
<form action="/birthday_form_result" method="post">
  <label for="username">
    <input type="text" name="username">
  </label>
  <h2>When is your birthday?</h2>
  <label for="day_number">
    day:
    <input type="number" name="day_number" min="1" max="31">
  </label>
  <label for="month">month:</label>
    <select id="month" name="month">
    <option value="january">January</option>
    <option value="february">February</option>
    <option value="march">March</option>
    <option value="april">April</option>
    <option value="may">May</option>
    <option value="june">June</option>
    <option value="july">July</option>
    <option value="august">August</option>
    <option value="september">September</option>
    <option value="october">October</option>
    <option value="november">November</option>
    <option value="december">December</option>
    </select>
  <input type="submit" value="Go!">
</form>